h1 {
  @apply text-3xl pb-3 font-semibold;
  @screen md {
    @apply text-5xl;
  }
}

h2 {
  @apply text-2xl pb-2 font-medium;
  @screen md {
    @apply text-4xl;
  }
}

h3 {
  @apply text-xl pb-2 font-medium;
  @screen md {
    @apply text-2xl;
  }
}

p {
  @apply leading-relaxed;
}

a {
  @apply no-underline hover:text-blue-600;
  color: inherit;
}

* {
  box-sizing: border-box;
}

.description {
  h1 {
    @apply text-2xl pb-2 font-medium;
    @screen md {
      @apply text-3xl;
    }
  }

  p {
    margin-block-end: 0.75rem;
  }

  a {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: theme("colors.blue.600");
    text-decoration-thickness: 2px;
    text-underline-offset: 1px;
    &.secondary {
      @apply hover:text-yellow-400;
      text-decoration-color: theme("colors.yellow.400");
    }
  }

  &.prose {
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong,
    li {
      @apply text-black;
    }
    a {
      @apply text-black hover:text-blue-600;
      transition-duration: 0ms !important;
      &.secondary {
        @apply hover:text-yellow-400;
        text-decoration-color: theme("colors.yellow.400");
      }
    }
    blockquote {
      @apply border-blue-600 border-opacity-75;
      p {
        @apply text-gray-700;
        &:first-of-type::before,
        &:last-of-type::after {
          content: none;
        }
      }
    }
    ul > li::before {
      @apply bg-black;
    }
    img {
      @apply overflow-hidden rounded-lg shadow-xl mx-auto;
    }
    .twitter-tweet {
      @apply mx-auto py-4;
    }
  }
}

.dark {
  .description {
    a {
      text-decoration-color: theme("colors.yellow.300");
      &.secondary {
        text-decoration-color: theme("colors.blue.500");
      }
    }
  }
}
