h1 {
  @apply text-3xl pb-3 font-semibold;
  @screen md {
    @apply text-5xl;
  }
}

h2 {
  @apply text-2xl pb-2 font-medium;
  @screen md {
    @apply text-4xl;
  }
}

h3 {
  @apply text-xl pb-2 font-medium;
  @screen md {
    @apply text-2xl;
  }
}

p {
  @apply leading-relaxed;
}

a {
  @apply no-underline hover:text-blue-600;
  color: inherit;
}

* {
  box-sizing: border-box;
}

.description {
  h1 {
    @apply text-2xl pb-2 font-medium;
    @screen md {
      @apply text-3xl;
    }
  }

  p {
    margin-block-end: 0.75rem;
  }

  a {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: theme("colors.blue.600");
    text-decoration-thickness: 2px;
    text-underline-offset: 1px;
    &.secondary {
      @apply hover:text-yellow-400;
      text-decoration-color: theme("colors.yellow.400");
    }
  }

  &.prose {
    a {
      @apply hover:text-blue-600;
      transition-duration: 0ms !important;
      &.secondary {
        @apply hover:text-yellow-400;
        text-decoration-color: theme("colors.yellow.400");
      }
    }
    blockquote {
      p {
        &:first-of-type::before,
        &:last-of-type::after {
          content: none;
        }
      }
    }
    img {
      @apply overflow-hidden rounded-lg shadow-xl mx-auto;
    }
    .twitter-tweet {
      @apply mx-auto py-4;
    }
    pre code {
      .token.comment,
      .token.prolog,
      .token.doctype,
      .token.cdata {
        @apply text-gray-500;
      }

      .token.punctuation {
        @apply text-gray-300;
      }

      .token.property,
      .token.keyword,
      .token.tag {
        @apply text-indigo-300;
      }

      .token.class-name {
        @apply text-yellow-200;
        text-decoration: underline;
      }

      .token.boolean,
      .token.constant {
        @apply text-green-200;
      }

      .token.symbol,
      .token.deleted {
        @apply text-red-600;
      }

      .token.number {
        @apply text-purple-300;
      }

      .token.selector,
      .token.attr-name,
      .token.string,
      .token.char,
      .token.builtin,
      .token.inserted {
        @apply text-green-300;
      }

      .token.variable {
        @apply text-indigo-300;
      }

      .token.operator {
        @apply text-red-300;
      }

      .token.entity {
        @apply text-yellow-200;
        cursor: help;
      }

      .token.url {
        @apply text-indigo-300;
      }

      .language-css .token.string,
      .style .token.string {
        @apply text-green-200;
      }

      .token.atrule,
      .token.attr-value {
        @apply text-yellow-200;
      }

      .token.function {
        @apply text-yellow-300;
      }

      .token.regex {
        @apply text-yellow-400;
      }

      .token.important {
        @apply text-yellow-500;
      }

      .token.important,
      .token.bold {
        font-weight: bold;
      }

      .token.italic {
        font-style: italic;
      }
    }
  }
}

.dark {
  .description {
    a {
      text-decoration-color: theme("colors.yellow.300");
      &.secondary {
        text-decoration-color: theme("colors.blue.500");
      }
    }
  }
}
